* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.new-book {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input {
  margin: 10px 0;
  padding: 10px;
}

.book {
  margin-bottom: 10px;
}

.awesome-books-list {
  margin-bottom: 10px;
}
